@media (min-width: 769px) {

  .row {
    display: flex;
  }

  .col {
  flex: 1;
  }
}

@media (min-width: 1025px) {

  .secondary {
  flex: 2;
}
}
/*justify-content: center;
  justify-content: space-around;
  justify-content: space-between;

.item# {
  order: 0; default order
  order: 1; last in line
  order: -1; to place before any other item with order zero which is the default
}
*/
