
/*****************************
  BASE STYLES
******************************/
body {
  display: -webkit-flex;/* Safari*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.primary {
  width: 60%;
}

.secondary {
  width: 30%;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 769px) {
	.row {
		display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }
	}
	.col {
		flex: 1 300px;
    flex-direction: column;
  }
}

@media (max-width: 1025px) {

	.primary {
		flex: 2;
	}
}
