/*****************************
  BASE STYLES
******************************/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.primary {
  width: 60%;
}

.secondary {
  width: 30%;
}

.row {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
