body,h2 {
  font-family: "Raleway", sans-serif;
}
body, html {
  height: 100%;
}

#titleOfSite h1{
  font-family: 'Alex Brush', cursive !important;
  font-size: 7rem !important;
  color: #000 !important;
}

h2 {
  font-size: 1.3em !important;
}
p {
  line-height: 2;
}

#titleOfSite {
   padding-top: 100px !important;
}

#listOfSites {
  margin-top: 70px !important;
}
